.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.demo {
  color: yellowgreen;
}

.login-section {
  padding: 50px 0;
}

.login-form {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 35px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

/* .login-form2 {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  text-align: center;
} */

.login-form3 {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 35px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 180px;
}


.form-title {
  color: #070707;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.form-input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.form-input:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.form-button {
  margin-top: 20px;
}

.button-primary {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-primary:hover {
  background-color: #3e8e41;
}

.login-image {
  margin-top: 30px;
}

.login-image-link {
  color: #353434;
  text-decoration: none;
  font-weight: bold;
  padding-left: 210px;
  padding-top: 5px;
}

.login-image-link2 {
  color: #3e8e41;
  text-decoration: none;
  font-weight: bold;
  padding-left: 400px;
  padding-top: 10px;
}

.signup-image-link {
  color: #0367da;
  text-decoration: none;
  font-weight: bold;
  padding-left: 15px;
}

.signup2-image-link {
  color: #3c913e;
  text-decoration: none;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 20px;
}



.login-image-link:hover {
  text-decoration: underline;
}

.home-page img {
  max-width: 100%;
  height: auto;
}

.home-page {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://images.unsplash.com/photo-1556911220-bff31c812dba?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3MzkxNTEyNQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* height: 100vh; */
  overflow: hidden;

}


.grey-page {
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 10px;
  height: 100%;
  width: 100%;
}


.grey-page3 {
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  background-size: cover;
  background-position: center center;
  height: 100%;
  /* Set the height to the full viewport height */
  width: 100%;
  display: flex;
  /* Use flexbox to align the text vertically */
  flex-direction: column;
  /* Stack the text vertically */
  justify-content: flex-start;
  /* Align the text to the top */
}

.form-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 200px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-submit:hover {
  background-color: #0069d9;
}

.recipes-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.recipes-header {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#big-textbox {
  width: 100%;
  padding: 5px;
  position: relative;
  border-radius: 5px;
}

#small-textbox {
  border-width: 1px;
  width: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border-color: rgb(170, 168, 168);
}

#manageProfile_H1 {
  text-align: center;
  margin-top: 30px;
}

#activityForm button {
  background-color: #007bff;
  margin: 0;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;

}

#activityForm button:hover {
  background-color: #0562c6;
}

.custrecipe {
  border: 1px solid #807f7f;
  margin-bottom: 20px;
  padding: 20px;
}

.recipe {
  border: 1px solid #e2dfdf;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;


}

#recipe-details {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  /* background-color: #0069d9; */
}

.recipe-name {
  font-size: 24px;
  color: black;
  margin: 0;
}

.recipe-ingredients,
.recipe-instructions {
  margin: 0;
}

/* .recipe-ingredients {} */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 0 10px;
}

.containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  height: 100vh;
}

.recipe-actions {
  display: flex;
  align-items: center;
  width: 80px;

}

.dietRow {
  display: flex;
  justify-content: space-between;
}

.recipe-action-btn {

  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.recipe-action-btn {
  color: #000;
}

.recipe-action-btn:hover {
  color: #ff0000;
}

/* style={{ marginRight: '1rem', marginTop: '12rem', marginLeft: '10rem', marginBottom: '5rem' }} */

.profile-main-section {
  box-sizing: border-box;
  max-width: 550px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.profile-main-section div>h5,
.assign-diet h2,
.assign-diet p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-main-section>h2 {
  text-align: center;
  margin-top: 100px;
}

.profile-main-section>form,
.login-form2 {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.user-diet-main-section {
  box-sizing: border-box;
  max-width: 750px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.profile-main-section>form input {
  padding: 10px 10px;
}

.login-form2>input,
.login-form2>textarea {
  padding: 7px;
}

.login-form2 select {
  padding: 7px;
  display: block;
  width: 100%;
}

.profile-main-section>form button {
  margin-top: 30px;
}



/* .profile-form {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 35px;
  text-align: center;
  width: 320px;
  margin-bottom: 3rem;
  display: block;
} */

.recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 50px;
}

.recipes {
  margin-top: 100px;
}


.recipes-list {
  list-style: none;
  padding: 50px;
  border-radius: 10px;
  background-color: rgb(33, 37, 41);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.recipes-list1 {
  list-style: none;
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#recipe-parent {
  padding: 20px;
  padding-top: 5vw;
  /* padding-top: 3vw; */
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  background-size: cover;
  background-position: center;
}

.food-info {
  display: flex;
  gap: 80px;
  /* background-color: #007bff; */
}

.food-info>div {
  width: 40%;
  /* background-color: #007bff; */
  margin: auto;

}


.food-image {
  width: 50%;
  height: 40vw;
  border-radius: 10px;
  position: relative;
  margin: auto;
}

.food-text {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  list-style-type: none;
}

.food-text2 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
}

.footer {
  background: #152F4F;
  color: white;
}

.footer .links ul {
  list-style-type: none;
}

.footer .links li a {
  color: white;
  transition: color .2s;
}

.footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}

.footer .about-company i {
  font-size: 25px;
}

.footer .about-company a {
  color: white;
  transition: color .2s;
}

.footer .about-company a:hover {
  color: #4180CB;
}

.footer .location i {
  font-size: 18px;
}

.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7 {
  display: centre;
  margin-bottom: 10px;
}

.c8 {
  text-align: centre;
  margin-left: 25px;
}

c9 {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 90%;
}




select option[value=''] {
  color: #ccc;
}

button[type='submitDiet'] {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  margin: 0;
  margin-top: 15px;
  width: 100%;
  cursor: pointer;
}

button[type='submitDiet']:hover {
  background-color: #0069d9;
}

button[type='updateProfile'] {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
}

button[type='updateProfile']:hover {
  background-color: #0069d9;
}

.login-link {
  border: 1.5px solid rgb(100, 99, 99);
  border-radius: 4px;
  margin-right: 17px;
}

.hero {
  background-color: #f2f2f2;
  padding: 2rem;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container3 {
  margin-top: 2rem;
  text-align: center;
}

.parat {
  font-size: 22px;
  /* left: 15%;
  margin-left: 99px;
  transform: translate(169%, 65%); */
  width: 400px;
  text-align: center;
  display: inline-block;
  white-space: normal;
  margin-right: -60vw;
  margin-top: 60px;
  font-weight: 400
}

.AbHead {
  color: white;
  text-shadow: 4px 0px 4px #000;
  font-size: 55px;
  font-family: Poppins;
  font-weight: bold;
  margin-top: -30px;
}

.AboutUsText {

  width: 100%;
  max-width: 700px;
  display: block;
  margin: auto;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #fcfbfb;
}

/* .content {
  height: 100vh;
  display: block;
  width: 100%;
  padding-left: 50px;

}

.text-content {
  background-color: #0069d9;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 28%;
  left: 30%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 1px;
  font-size: 120px;
  text-shadow: 5px 0px 5px rgb(0, 0, 5);
}

h8 {
  position: absolute;
  top: 40%;
  left: 23.5%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 10px;
  font-size: 34px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 3px 0px 3px rgb(0, 0, 3);
} */

.content {
  height: 100vh;
  /* background-color: #3e8e41; */
  padding-top: 90px;
}

.text-content {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-left: 25px;
  text-align: left;
  color: white;
  border-radius: 1px;
  font-size: 120px;
  text-shadow: 5px 0px 5px rgb(0, 0, 5);
}

h1>br {
  display: none;
}

h8 {
  margin-left: 35px;
  margin-top: -35px;
  text-align: left;
  display: block;
  color: white;
  font-size: 34px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 3px 0px 3px rgb(0, 0, 3);
}

h9 {
  font-family: Poppins;
  /* background-color: #0069d9; */

  position: relative;
  width: 250px;
  text-align: center;
  display: inline-block;
  white-space: normal;
  margin-right: -60vw;
  font-size: 35px;
  font-weight: bold;
}

#copyright {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.icon,
.bx {
  font-size: 94px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1000;

}

#add-diet {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-width: 500;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  z-index: 1001;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}

#activityForm select,
input,
textarea {
  display: block;
  width: 100%;
  padding: 7px;
}


#add-diet h4 {
  text-align: center;
}

#add-diet-button {
  background-color: #007bff;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

#add-diet-button:hover {
  background-color: #0664c9;
}


@media (max-width: 735px) {
  h1>br {
    display: block;
  }


}

@media (max-width: 500px) {

  .text-content,
  h8 {
    text-align: center;
    margin: 0;
  }

  .text-content {
    font-size: 100px;
  }

  h8 {
    font-size: 30px;
  }

}

@media (max-width: 560px) {


  .profile-main-section {
    max-width: 400px;
  }

  .profile-main-section h3 {
    font-size: large;
  }

}

@media (max-width: 560px) {


  .profile-main-section {
    max-width: 300px;
  }

  .profile-main-section h3 {
    font-size: large;
  }

}

@media (max-width: 910px) {
  .food-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 700px;
    max-width: 700px;
    min-width: 700px;
    margin: auto;
    /* background-color: #152F4F;*/

  }

  .food-info>div {
    margin-top: 50px;
    width: 100%;
    /* background-color: #007bff; */

  }


  .food-image {
    width: 100%;
    height: 500px;
  }

}


@media (max-width: 720px) {
  .food-info {

    max-width: 400px;
    min-width: 400px;
    margin: auto;
    /* background-color: #152F4F;*/

  }

  .food-info>div {
    margin-top: 50px;
    width: 100%;
    /* background-color: #007bff; */

  }


  .food-image {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 420px) {
  .food-info {

    max-width: 300px;
    min-width: 300px;
    margin: auto;
    /* background-color: #152F4F;*/

  }

  .food-info>div {
    margin-top: 50px;
    width: 100%;
    /* background-color: #007bff; */

  }

  #recipe-details {
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    color: white;
    text-align: center;
    /* background-color: #0069d9; */
  }

  .recipe-name {
    text-align: center;
  }

  .food-image {
    width: 100%;
    height: 250px;
  }
}
