.addForm {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalForm {
  position: relative;
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 25px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px; /* Adjust the font size as needed */
  color: lightgray;
  background-color: transparent; /* Transparent background */
  border: none; /* No border */
  outline: none;
}
